{% extends 'index.html' %} {% block main %}
<section class="hero is-fullheight">
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item">
                        Jaano
                        <b>India</b>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <form action="/search" method="GET">
                <div class="field is-grouped">
                    <p class="control">
                        <input style="width: 600px" class="input is-medium" name="q" type="text" placeholder="Search...">
                    </p>
                    <p class="control">
                        <button class="button is-info is-medium" type="submit">
                            Search
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}